language: haskell
before_install: "cabal install hlint derive cereal"
script: "make Data/OpenPGP/Arbitrary.hs && make report.html && [ ! -e report.html ] && make dist/setup-config && make tests/suite && tests/suite --plain && make clean && make Data/OpenPGP/Arbitrary.hs && make CEREAL=1 dist/setup-config && make CEREAL=1 tests/suite && tests/suite --plain"
